# Lists:

You can use these when you need a collection of similar/non similar items. Suppose you are making a program that randomly picks a name from a hat. You could do something like this:

### in square brackets [ ]
### sequential- It has oredering and index 
index starts from 0
### mutable
### Contains any kind of data
Example of list <br>
list1=[1,2,3]<br>
listexample = [17, 123, "python", [1,2,3], 6.0,True]<br>
s="python"

In [ ]:
list1=[1,2,3,3.0,'java',True]
listexample = [17, 123, "python", list1, 6.0]
listexample

In [2]:
a=[]
type(a)

list

In [3]:
a=list()
print(type(a))
print(a)

<class 'list'>
[]

In [4]:
n = [17, 123, "python", "java", [1,2,3], 6.0]
print(n)

[17, 123, 'python', 'java', [1, 2, 3], 6.0]

In [5]:
len(n)

6

In [6]:
n[0]

17

In [7]:
n[4]

[1, 2, 3]

In [8]:
n[3][0]

'j'

In [9]:
n[4][1]

2

In [11]:
numbers = [715555, "123", "python", "java", [1,2,3], 6.0]
#            0        1     2          3       4      5

In [12]:
numbers[1][0]

'1'

In [13]:
numbers[0][0]# iterable object

TypeError: 'int' object is not subscriptable

# Mutable
List is mutable object

In [14]:
s="python"
s[0]="q"
print(s)

TypeError: 'str' object does not support item assignment

In [15]:
numbers=[500, 123, 'python', 'java', ['javascript', 2, 3], 6.0]
numbers[0]=200
print(numbers)

[200, 123, 'python', 'java', ['javascript', 2, 3], 6.0]

In [16]:
numbers[2][0]="q"
numbers

TypeError: 'str' object does not support item assignment

In [17]:
numbers=[500, 123, 'python', 'java', ['javascript', 2, 3], 6.0]
numbers[2]="q"
numbers

[500, 123, 'q', 'java', ['javascript', 2, 3], 6.0]

In [18]:
numbers[4][0]=1000
numbers

[500, 123, 'q', 'java', [1000, 2, 3], 6.0]

In [19]:
numbers=[200, 123, 'python', "java",'java', ['q', 2, 3], 6.0]

In [20]:
l1=[1,2,3]
l2=l1.copy()
l2

[1, 2, 3]

In [21]:
l1 is l2

False

In [22]:
l1==l2

True

In [23]:
list1=[45,89,0]
list2=list1
print(list2)
print(list1)

[45, 89, 0]
[45, 89, 0]

In [24]:
print(list1 is list2)

True

In [25]:
list1==list2

True

In [26]:
list1=[45,89,0]
list2=list1
print(list2)
list1[0]=4
print(list1)
print(list2)

[45, 89, 0]
[4, 89, 0]
[4, 89, 0]

In [27]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
help(list)

### Append
It adds the element at the end of a list

In [ ]:
l=[1,-2,-5,-100]
# def toupper(val):
#     print(abs(val))
#     return (abs(val))
l.sort(key = lambda num:num*2)
print(l)

In [28]:
numbers = [17, "java", [1,2,3]]
numbers.append("python")
print(numbers)

[17, 'java', [1, 2, 3], 'python']

In [29]:
numbers.append([0,1,2])
numbers

[17, 'java', [1, 2, 3], 'python', [0, 1, 2]]

In [30]:
numbers.append(1)
numbers

[17, 'java', [1, 2, 3], 'python', [0, 1, 2], 1]

### Extend
It adds at the end , but only iterable objects...
It seprateout the iterable object in the individual element and than it will add.

In [31]:
numbers = [17, "java", [1,2,3]]
numbers.extend("Python")
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n']

In [32]:
numbers.extend([100,101,102])
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102]

In [ ]:
numbers

In [33]:
numbers.extend(100)
numbers

TypeError: 'int' object is not iterable

In [34]:
numbers.extend("a")
numbers

[17, 'java', [1, 2, 3], 'P', 'y', 't', 'h', 'o', 'n', 100, 101, 102, 'a']

In [35]:
numbers.extend("123")
numbers

[17,
 'java',
 [1, 2, 3],
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 100,
 101,
 102,
 'a',
 '1',
 '2',
 '3']

In [36]:
num_list = [1, 2, 3, 4, 5]
index=4
num = [1,2,3]
print(f'Initial Numbers List {num_list}')

num_list.insert(index, num)

print(f'Updated Numbers List {num_list}')

Initial Numbers List [1, 2, 3, 4, 5]
Updated Numbers List [1, 2, 3, 4, [1, 2, 3], 5]

In [37]:
num_list = [1, 2, 3, 4, 5]
print(num_list.count(1))

1

# Pop- Removes and returns, so that we are not loosing that value

In [38]:
list1=[0,1898,100,2,3,"python","java"]

In [39]:
x=list1.pop() # remove last element  of list if we do not mention index
print(f"The popped element x is : {x}")
print (f"After Pop the changed the list is \n{list1}")

The popped element x is : java
After Pop the changed the list is
[0, 1898, 100, 2, 3, 'python']

In [40]:
list1=[0,1898,100,2,3,"python","scala"]
x=list1.pop()
print(list1)
print(x)

[0, 1898, 100, 2, 3, 'python']
scala

In [ ]:
list1=[0,1898,100,2,3,"python","jaava"]

In [41]:
x=list1.pop(1)
print(" The popped element is : ",x)
print (" After Pop the changed the list is ",list1)

 The popped element is :  1898
 After Pop the changed the list is  [0, 100, 2, 3, 'python']

In [ ]:
list1

In [42]:
a=[100,1,200,2,3,"python","jaava",[1,2],"python"]
a.remove("python")
print (f" After remove the changed the list is \n{a}")

 After remove the changed the list is
[100, 1, 200, 2, 3, 'jaava', [1, 2], 'python']

In [43]:
a.remove([1,2])
a

[100, 1, 200, 2, 3, 'jaava', 'python']

In [44]:
a=[0,1,0,2,3,"python","jaava",[1,2,3]]
a.reverse()
print(a)

[[1, 2, 3], 'jaava', 'python', 3, 2, 0, 1, 0]

In [45]:
a=[0,1,0,2,3,"python","jaava",[1,2,3]]
print(a[::-1])

[[1, 2, 3], 'jaava', 'python', 3, 2, 0, 1, 0]

In [ ]:
How to reverse a string??
s[::-1]

# Sorting ( Ascending order)

# number < Special Char<  capital letter < small letter

In [46]:
# @ #....A= 65 , a =97
a=["Python","1python"]
a.sort()
a

['1python', 'Python']

In [47]:
a=['scala',"jaava", 'python']
a.sort()
a

['jaava', 'python', 'scala']

In [48]:
a=['scala','jaava','@123ab', 'Python','Java',"1java"]
a.sort()
a

['1java', '@123ab', 'Java', 'Python', 'jaava', 'scala']

In [ ]:
ord('1')

In [49]:
a=['scala','jaava',123, 'Python']
a.sort()
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [50]:
a=[100,23, 500]
a.sort()
a

[23, 100, 500]

In [51]:
a=[100,23, 500]
a.sort(reverse=True)
a
# a    L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*

[500, 100, 23]

In [ ]:
help(str)

# string --> list
# list----> string

# split
# join

In [ ]:
s="python"
list1= ['p', 'y', 't', 'h' ,'o' ,'n']

In [52]:
l=['1','2','4']#'124'
''.join(l)

'124'

In [53]:
l=['1','2','4']#'124'
x=' '.join(l)
print(x)

1 2 4

In [54]:
list1= ['p', 'y', 't', 'h' ,'o' ,'n']
s='**'.join(list1)
s

'p**y**t**h**o**n'

In [55]:
'$$$'.join(list1)

'p$$$y$$$t$$$h$$$o$$$n'

In [56]:
list1= ['p', 'y', 't', 'h' ,'o' ,'n',66]
y='**'.join(list1)
y

TypeError: sequence item 6: expected str instance, int found

In [57]:
a=["python","jaava","scala"]
''.join(a)

'pythonjaavascala'

In [58]:
' '.join(a)

'python jaava scala'

In [59]:
s='$$*'.join(a)
print(s)

python$$*jaava$$*scala

In [60]:
print(' : '.join(a))

python : jaava : scala

In [61]:
s = "python jaava scala"
s.split()

['python', 'jaava', 'scala']

In [62]:
s = "python : jaava : scala"
l=s.split(' : ')
print(l)

['python', 'jaava', 'scala']

In [63]:
s = "python : jaava : scala"
l=s.split(' ')
l

['python', ':', 'jaava', ':', 'scala']

In [64]:
s= 'python$$*jaava$$*scala'
print(s.split('$$*'))
# print(s.split('$'))

['python', 'jaava', 'scala']

In [65]:
s1= '123'
print(s1.split('2'))

['1', '3']

In [66]:
list1=["javascript","java","python", "scala",'1']
list1[0:3]

['javascript', 'java', 'python']

In [67]:
list1[:4]

['javascript', 'java', 'python', 'scala']

In [68]:
list1[::-1]

['1', 'scala', 'python', 'java', 'javascript']

In [69]:
lis = [2, 1, 3, 5, 4]
print (min(lis))

1

In [70]:
lis = [2, 1, 3, 5, 4.0, "abc"]
min(lis)

TypeError: '<' not supported between instances of 'str' and 'int'

In [71]:
lis = ["a","b", "abc"]
min(lis)

'a'

In [72]:
lis = [2, 1, 3, 5, 4.0]
max(lis)

5

In [73]:
lis = [2, 1, 3, 5, 4.0]
sum(lis)

15.0

In [74]:
# special char < number < capital letter < small letter
# a=97 , A- 65
lis = ['2', '1','3']
max(lis)

'3'

In [75]:
# a=97 , A- 65

lis = ['a', 'b','c','A']

max(lis)

'c'

In [76]:
# number < capital letter < small letter
lis = ['2', '1','3',"abc",'A']
print(max(lis))

abc

In [77]:
min(lis)

'1'

In [78]:
# lis = [2, 1,3.8]
lis = ['abc', 'def','ghi']
sum(lis)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [79]:
list_data = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1,"python","python"]
list_data.index("python")

10

In [80]:
lis = [1, '4', 3, 2, 5]
'4' in lis

True

In [81]:
4 not in lis

True

In [82]:
"p" in "python"

True

In [83]:
"r" in "python"

False

Any sequence (or iterable) can be unpacked into variables using a simple assignment
operation. The only requirement is that the number of variables and structure match
the sequence.

In [84]:
data = [ 'ACME', 50, 91.1,2012]
name, shares, price, date = data
print(f'name : {name}')
print(f'shares: {shares}')
print(f'price {price}')
print(f'date {date}')

name : ACME
shares: 50
price 91.1
date 2012

In [85]:
s="python"
a,b,c,d,e,f=s


print(a)
print(b)
print(c)
print(d)
print(e)

p
y
t
h
o

In [ ]:
data = [ 'ACME', 50, 91.1,2012]
a,b=data

In [86]:
l1=[123,3,3433]
l2=l1
print (f"l2 value {l2}")
print (f"l1 value {l1}")
print ("l2 ID",id(l2))
print ("l1 ID",id(l1))

l2 value [123, 3, 3433]
l1 value [123, 3, 3433]
l2 ID 1876371377536
l1 ID 1876371377536

In [87]:
l2=[123,3]
print ("l2 ID",id(l2))
print ("l1 ID",id(l1))
print (f"after change l2 value {l2}")
print (f"after l1 value {l1}")

l2 ID 1876371595840
l1 ID 1876371377536
after change l2 value [123, 3]
after l1 value [123, 3, 3433]

In [88]:
l1=[123,3,3433]
l2=l1
l1[0]=100
print(f"l2 {l2}")
print(f"l1 {l1}")

l2 [100, 3, 3433]
l1 [100, 3, 3433]

In [89]:
l1=[123,3,3433]
l2=l1.copy()
print (f"l2 value {l2}")
print (f"l1 value {l1}")
l1[0]="x"
print(f"l1 is {l1}")
print(f"l2 is {l2}")

l2 value [123, 3, 3433]
l1 value [123, 3, 3433]
l1 is ['x', 3, 3433]
l2 is [123, 3, 3433]

In [ ]:
l1=[123,3,3433]

# Assignment  
* For a list ["foo", "bar", "baz"] add an item in the list "bar",
 what's the cleanest way to get its index (1) in Python?
* Best way to check if a list is empty
* Getting the last element of a list in Python
* How to clone or copy a list?
* How can I count the occurrences of a list item in Python?
* How do I remove the first Item from a Python list?
* Write a program to create a buffer of length 5

In [ ]:
numbers=[200, 123, 'python', "java",'java', 6.0, 'python',200]
result=[200,123,'python','java' , '6.0']

In [ ]:
help('modules')

In [ ]:
vlans1=['!command:', '!Time','version....','valanc....','....','valna 130', 'name AHKZMI' , 'mode fabricapath' ]
vlans2=['!command:', '!Time','version....','valanc....','....','valna 130', 'name AHKZMI' , 'mode fabricapath' ]

for x in vlans1 :
    if vlans1[x]==vlans2[x]:
        print ("its matching")
    else:
        print (vlans1[x] + 'and' +'vlans2[x]'+ " is not matching ")
        break

In [ ]:
vlans1=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:22 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', '', '\rKC1DD10-RED#']
vlans2=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:25 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', 'vlan 159', '  name MCVHVA_RAC', '  mode fabricpath', '', '\rKC1DD10-BLUE#']


common_elements=[]
for i in list(itertools.product(a,b)):
    if i[0] == i[1]:
        common_elements.append(i[0])
print (common_elenents)
        
        
        
# def vlan_comp(switch,switch2):
#     print ("I am in side compare function")
# #     print (switch)
# #     print(switch2)
#     missing = []
# #     for x in switch:
# #         print (x)
#     for x in range(len(switch)-1):
#         match = False
        
#         if switch[x] == switch2[x]:
#                 match = True
#         if match == False:
#             missing.append(switch[x] +"is not matching with "+ switch2[x])
#     return missing


# result1 = vlan_comp(vlans2,vlans1)
# result2 = vlan_comp(vlans1,vlans2)
# # print "switch1 : " ,switch1
# # print "switch1 : " ,switch1

In [ ]:
a=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:22 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', '', '\rKC1DD10-RED#']
b=[' sh run vlan 159\r', '', '!Command: show running-config vlan 159', '!Time: Sat Jul  7 00:40:25 2018', '', 'version 7.1(4)N1(1c)', 'vlan configuration 159', 'vlan 159', '  name MCVHVA_RAC', '  mode fabricpath', '', '\rKC1DD10-BLUE#']

def returnNotMatches(a, b):
    a = set(a)
    b = set(b)
    return list(b - a)


switch name is 
l=returnNotMatches(a, b)
print( "-----------the configuration differene from a to b is------- ")
print ('\n'.join(l))
l2= returnNotMatches(b, a)
print( "--------------the configuration differene from b to a is--------- ")
print ('\n'.join(l2))

In [ ]:
l =["banana","apple"]
l[-2]

In [ ]:
l=[]
type(l)
l=

In [ ]:
l=[1,2]
type(l)

In [ ]:
l=list()
type(l)