# SET

![Interpeter](08_Sets.jpg)

A set contains an unordered collection of unique and mutable objects.
The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics.
Sets never have sequence and no duplicates also

![Interpeter](08_Sets1.jpg)

In [ ]:
s="string"# '' or "" Immutable
l=list()#[] Mutable
t=tuple()# () Immutable
s=set()# {} Mutable but contains only immutable values

In [1]:
cities ={"Frankfurt", "Basel","Freiburg"}

In [2]:
cities

{'Basel', 'Frankfurt', 'Freiburg'}

In [3]:
type(cities)

set

## Set can have only immutable data but its mutable data type

In [4]:
cities ={"Frankfurt", "Basel","Freiburg",["bangalore","delhi"]}

TypeError: unhashable type: 'list'

In [5]:
# cities ={"Frankfurt", "Basel","Freiburg",("bangalore","delhi")}
# citiesa
tuple1 = (1,2,2,3)
set1 = {"a", "b", tuple1,tuple1}
print(set1)

{'b', (1, 2, 2, 3), 'a'}

In [6]:
cities=set()
cities ={"Frankfurt", "Basel","Freiburg","Basel",1232}
cities

{1232, 'Basel', 'Frankfurt', 'Freiburg'}

In [7]:
cities.add("Strasbourg")
cities.add(100)
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg'}

In [8]:
cities.add("bangalore")
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}

In [9]:
cities.add("bangalore")
cities

{100, 1232, 'Basel', 'Frankfurt', 'Freiburg', 'Strasbourg', 'bangalore'}

In [10]:
duplicateSet={"Bangalore", "Bangalore", "Basel","Frankfurt"}
print(duplicateSet)
duplicateSet = {"Bangalore", "Bangalore","Bangalore", "Basel", "Basel", "Frankfurt"}
print(duplicateSet)

{'Frankfurt', 'Bangalore', 'Basel'}
{'Frankfurt', 'Bangalore', 'Basel'}

In [11]:
duplicateTuple = ("Bangalore", "Bangalore", "Basel", "Frankfurt")
duplicateList = ["Bangalore", "Bangalore", "Basel", "Frankfurt"]
duplicateSet = {"Bangalore", "Bangalore", "Basel", "Frankfurt"}

print(f"Tuple:  {duplicateTuple}")
print(f"List: {duplicateList}")
print(f"Set: {duplicateSet}")

Tuple:  ('Bangalore', 'Bangalore', 'Basel', 'Frankfurt')
List: ['Bangalore', 'Bangalore', 'Basel', 'Frankfurt']
Set: {'Frankfurt', 'Bangalore', 'Basel'}

In [12]:
s={100, 'Basel', 'Strasbourg', 'bangalore'}
abc="Delhi"
s.add(abc)
s

{100, 'Basel', 'Delhi', 'Strasbourg', 'bangalore'}

In [13]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [14]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [15]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
cities.clear()
cities

set()

In [16]:
cities = ["Stuttgart", "Konstanz", "Freiburg"]
cities.clear()
cities

[]

In [17]:
cities = ("Stuttgart", "Konstanz", "Freiburg")
cities.clear()
cities

AttributeError: 'tuple' object has no attribute 'clear'

In [ ]:
cities = {Stuttgart", "Konstanz", "Freiburg"}
x=cities.pop(0)# will not work
print(f"{x}   , {cities}")

In [18]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
x=cities.pop()
print(f"{x}   , {cities}")

Freiburg   , {'Konstanz', 'Stuttgart'}

In [19]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
cities.remove("Stuttgart")
print(f"{cities}")

{'Freiburg', 'Konstanz'}

In [20]:
cities = {"Stuttgart", "Konstanz", "Freiburg", (333,333),(333,333)}
del cities
print(cities)

NameError: name 'cities' is not defined

In [21]:
cities = {"Stuttgart", "Konstanz", "Freiburg"}
del cities
print(cities)

NameError: name 'cities' is not defined

# Question

Write a program to remove the duplicates of a list

In [22]:
l = [1,2,3,"python", 3, "python"]

In [23]:
s=set(l)

In [24]:
l=list(s)

In [25]:
l

[1, 2, 3, 'python']

### Copy of SET

In [26]:
more_cities = {"Winterthur","Schaffhausen","St. Gallen"}

In [27]:
cities_backup = more_cities.copy()
cities_backup

{'Schaffhausen', 'St. Gallen', 'Winterthur'}

In [28]:
more_cities is cities_backup

False

In [29]:
cities_backup == more_cities

True

In [30]:
print(id(more_cities))
print(id(cities_backup))

2977262893760
2977262893536

### Another way to create a copy

In [31]:
more_cities = {"Winterthur","Schaffhausen","St. Gallen"}
city2=more_cities

In [32]:
more_cities is city2

True

In [33]:
city2 == more_cities

True

In [34]:
print(id(more_cities))
print(id(city2))

2977262894880
2977262894880

In [35]:
city2.pop()
print (city2)
print(more_cities)

{'St. Gallen', 'Winterthur'}
{'St. Gallen', 'Winterthur'}

In [ ]:
del (city2)
print(more_cities)

### Operations on SET

In [36]:
x = {"a","b","c","d","e"}
y = {"b","c","j"}
z = {"c","d"}

In [37]:
a=x-y
a

{'a', 'd', 'e'}

In [38]:
b=y-x
b

{'j'}

In [39]:
a=x.difference(y)# same as a=x-y
a

{'a', 'd', 'e'}

In [40]:
y.difference(x)# same as a=y-x

{'j'}

In [ ]:
x.difference(y).difference(z)

In [41]:
x-y-z

{'a', 'e'}

In [42]:
x

{'a', 'b', 'c', 'd', 'e'}

# Difference update

In [43]:
x = {"a","b","c","d","e"}
y = {"b","c","j"}

In [44]:
x.difference_update(y)  #  x=x-y

In [45]:
x

{'a', 'd', 'e'}

In [46]:
y.difference_update(x)  #y=y-x

In [47]:
y

{'b', 'c', 'j'}

In [ ]:
x=x-y
x

In [48]:
x = {"a","b","c","d","e",(333,333,3333,3333),333}
x.discard(333)
x.discard((333, 333, 3333, 3333))
x

{'a', 'b', 'c', 'd', 'e'}

In [49]:
x

{'a', 'b', 'c', 'd', 'e'}

In [50]:
x.discard("a")

In [51]:
x

{'b', 'c', 'd', 'e'}

In [52]:
x.discard("z")

In [53]:
x = {"a","b","c","d","e"}
x.remove("z")

KeyError: 'z'

In [54]:
l=[1,2,3]
l.remove(1)
print(l)

[2, 3]

In [55]:
l=[1,2,3]
l.discard(1)
print(l)

AttributeError: 'list' object has no attribute 'discard'

In [ ]:
x

In [ ]:
# x.remove("z")
l =[]
dir(l)

# Intersection
![Interpeter](intersection-in-python.jpg)

In [56]:
x = {"a","b","c","d","e"}
y = {"c","d","e","f","g"}

In [57]:
x.intersection(y)

{'c', 'd', 'e'}

In [58]:
print(x & y)
print(x)

{'e', 'd', 'c'}
{'e', 'c', 'd', 'b', 'a'}

# isdisjoint()

This method returns True if two sets have a null intersection.

In [59]:
x = {"a","b","c","d","e"}
a = {"a","b","c",}
y = {"c","d","e","f","g"}
z={1,2,3}

In [60]:
a.isdisjoint(x)

False

In [61]:
z.isdisjoint(y)

True

# Union

![Interpeter](05_set_union_b.png)

In [62]:
x = {"a","b","c","d","e"}
y = {"c","d","f","a"}

In [63]:
x|y

{'a', 'b', 'c', 'd', 'e', 'f'}

In [64]:
x.union(y)

{'a', 'b', 'c', 'd', 'e', 'f'}

### issubset()

x.issubset(y) returns True, if x is a subset of y. "<=" is an abbreviation for "Subset of"	and ">=" for "superset of" 
"<" is used to check if a set is a proper subset of a set.

In [65]:
x = {"a","b","c","d","e"}
y = {"c","d"}
z = {"c","d","f"}

In [66]:
x.issubset(y)

False

In [67]:
y.issubset(x)

True

In [68]:
x < y

False

In [69]:
y < x # y is a proper subset of x

True

In [70]:
x < x # a set can never be a proper subset of oneself.

False

In [71]:
x <= x

True

In [72]:
y1 = {"c","d"}
y2 = {"c","d"}
# y1<=y2
y2.issubset(y1)

True

# issuperset()

x.issuperset(y) returns True, if x is a superset of y. ">=" is an abbreviation for "issuperset of"
">" is used to check if a set is a proper superset of a set.

In [73]:
x = {"a","b","c"}#karnataka
y = {"c","b","a","d"}#india

In [74]:
x.issuperset(y)

False

In [75]:
y.issuperset(x)

True

# Symmetric difference  (a-b union b-a) A^B

In [76]:
A={1, 2, 3, 4, 5, 6, 7, 8}
B = {1, 3, 5, 6, 7, 8, 9}
c={11,3,4,5,}

In [77]:
A-B

{2, 4}

In [78]:
B-A

{9}

In [79]:
(A-B) | (B-A)

{2, 4, 9}

In [80]:
A^B

{2, 4, 9}

# The latter operations have equivalent operators as shown below:
  Method                         Operator
<number>     a.intersection(b)             a & b<br>
<number> a.union(b)                         a|b <br>
<number>a.difference(b)                 a - b <br>
<number>a.symmetric_difference(b)          a ^ b  <br>
<number>a.issubset(b)                   a <= b <br>
<number>a.issuperset(b)                 a >= b <br>

# Frozen Sets

Frozen sets are immutable objects
that only support methods and operators that produce a result without 
afecting the frozen set or sets to which they are applied.

In [81]:
frozen_set1 = frozenset(["e", "f", "g"])
print(len(frozen_set1))
print (frozen_set1)

3
frozenset({'e', 'f', 'g'})

In [82]:
frozen_set1.add("d")## immutable

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
dir(frozen_set1)

In [83]:
frozen_set1 = frozenset(["e", "f", "g","h"])
frozen_set2 = frozenset(["a", "b", "c","h"])
frozen_set1 | frozen_set2

frozenset({'a', 'b', 'c', 'e', 'f', 'g', 'h'})

In [84]:
frozen_set1 & frozen_set2

frozenset({'h'})

In [ ]:
# len(frozen_set)
A={1, 2, 3, 4, 5, 6, 7, 8}
len(A)

In [ ]:
Set Can not have mutable data .. for that we need forzenset

In [ ]:
l=[1,[1,2,3],3]
x={l}
x

Frozensets are useful in situations where you want to use a set, but you need an immutable object. For example, you can’t define a set whose elements are also sets, because set elements must be immutable:

In [ ]:
x1 = set(['foo'])
x2 = set(['bar'])
x3 = set(['baz'])
x = {x1, x2, x3}
# x = {x1, x2, x3}
print(x)

If you really feel compelled to define a set of sets (hey, it could happen), you can do it if the elements are frozensets, because they are immutable:

In [ ]:
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3}
x
# for a in x:
#     print(a)
# print(x1|x2)

In [ ]:
Write a menu driven program to delete ,append,  sort , find max, minimum , sum, sort the list.

# Assignment:
* What is frozenset , difference between sets and frozenset
* Remove duplicate values of a list a=[1,2,3,4,1,2,3,10]
* What is the output when the following code is run by Python? For sets, do not worry about getting the exact order of the output correct.
 s1 = set( [7,9, 12, 7, 9] )
 s2 = set( ['abc', 12, 'b', 'car', 7, 10, 12 ])
 s3 = set( [12, 14, 12, 'ab'] )
 * print s1 & s2
 * print s1 | s2
 * print 'b' in s2
 * print 'ab' in s2
 * print 'ab' in s3
 * s2.discard(12)
 * print (s1 & s2) ^ s3

* Given three sets, s1, s2, and s3, write a short segment of Python code to find the values that are in exactly one of the three sets. The result should be stored in a set called s. You may NOT use any loops.
#
#
#

In [ ]:
s1={1,4,5,6,7}
s2={2,4,5,6,8}
s3={3,4,5,6,7,8}
# s1 = set( [7,9, 12, 7, 9] )
# s2 = set( ['abc', 12, 'b', 'car', 7, 10, 12 ])
# s3 = set( [12, 14, 12, 'ab'] )
# print ((s1 & s2))
# print((s1 & s2) ^ s3)
# print((s1^s2)^(s3))
# s=s1-s2 | s2-s1
# print (s)
# print(s-s3|s3-s)

In [ ]:
x=input()
count=0
v=("a","e","i","o","u")
for i in x:
    if i in v:
        count=count+1
        print(count)

Python Program to Count the Number of Vowels Present in a String using Sets

In [ ]:
x=input()
count=0
v=("a","e","i","o","u")
for i in x:
    if i in v:
        count=count+1
print("No of vowers in the string is ", count)

#### Take 2 stirngs as input and find out common characters between strings

In [ ]:
x="python"
y="pyt"
set(x)&set(y)

In [ ]:
set(x)

#### Program to Check Common Letters in Two Input Strings

#### Task 
Given  sets of integers,  and , print their symmetric difference in ascending order. The term symmetric difference indicates those values that exist in either  or  but do not exist in both.

#### Input Format

The first line of input contains an integer, . 
The second line contains  space-separated integers. 
The third line contains an integer, . 
The fourth line contains  space-separated integers.

#### Output Format

Output the symmetric difference integers in ascending order, one per line.

Sample Input

4
2 4 5 9
4
2 4 11 12

Sample Output

5
9
11
12

In [ ]:
x= input()
x.split(" ")

In [ ]:
l=['333','2232','1232']
l.sort()
l

In [ ]:
for i in range(len(l)):
    l[i]=int(l[i])
print (l)
listC = sorted(l, reverse=False)
print (listC)

In [ ]:
s="z"
sq="s"
s sq

In [ ]:
import re
s=('xxxx','abcxxxx')
x= filter((lambda s: re.search(r'xxx',s)),s)?

In [ ]:
x